# Папка с зависимостями npm
node_modules/

# Файлы, содержащие конфиденциальные данные (например, пароли, ключи доступа и т. д.)
.env

# Файлы журналов
logs/
*.log

# Временные файлы
*.tmp
*.temp

# Кэшированные файлы
.cache/

# Файлы сборки
/build/
/public/build/
/dist/
/out/

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать файлы локализации
*.pot
*.mo
*.po
